body {
  background-color: #eeeff1;
  color: #19234f; }

  .logo {
    max-height: 25px; }

    .title {
      text-align: center; }

      a {
        text-decoration: none !important; }

        .navbar-default .navbar-nav {
          margin: 10px; }
          .navbar-default .navbar-nav li a {
            width: 75px;
            padding: 5px;
            text-align: center; }
            .navbar-default .navbar-nav li a:hover {
              color: #fff;
              background-color: #7da437;
              border-radius: 40px; }

.box {
  border: solid 1px;
  text-align: center;
  min-height: 300px;
  margin: 10px;
  transition: all 0.5s; }
  .box div.care {
    background-color: #90be3e;
    color: #eeeff1;
    padding: 10px;
    margin-top: 50%;
    font-size: 20px; }
    .box:hover {
      opacity: 0.9;
      border: solid 4px; }

.profile-sm {
  width: 70px; }

  .profile-lg {
    width: 150px; }

    .caregiver {
      background-image: url('/static/img/caregiver01.jpg');
      background-size: cover; }

      .careseeker {
        background-image: url('/static/img/caregiver.jpg');
        background-size: cover; }

        .profile div {
          padding: 3px; }
          .profile h3 {
            background-color: #19234f;
            width: 100%;
            padding: 10px;
            text-align: center;
            color: #fff; }
            .profile h4 {
              font-weight: bold;
              color: #19234f;
              font-size: 1.5em;
              grid-column: 1 / 2; }
              .profile .form-group {
                display: grid;
                grid-template-columns: 200px 1fr;
                border: solid 1px #90be3e; }
                .profile .description {
                  grid-column: 2 / 3; }
                  .profile textarea {
                    width: 100%;
                    height: 100px; }
                    .profile .custom-file-upload {
                      border: 1px solid #ccc;
                      display: inline-block;
                      padding: 6px 12px;
                      cursor: pointer;
                      background-color: #7da437;
                      color: #fff; }
                      .profile .custom-file-upload:hover {
                        background-color: #19234f; }
        .profile input[type=file] {
          display: none; }
          .profile #submit {
            float: right;
            width: 30%;
            background-color: #19234f;
            color: #fff;
            margin-bottom: 100px; }
            .profile #submit:hover {
              background-color: #90be3e; }
