body {
  background-color: #eeeff1;
  color: #19234f; }

.logo {
  max-height: 25px; }

.box {
  border: solid 1px;
  padding: 10%;
  text-align: center; }

.profile-sm {
  width: 70px; }

.profile-lg {
  width: 150px; }
