$primary-color:#19234f;
$secondary-color: #90be3e;
$primary-background: #eeeff1;

body{
    background-color: $primary-background;
    color: $primary-color;
}

.logo{
    max-height: 25px;
}

.box{
    border: solid 1px;
    text-align: center;
    min-height: 300px;
    margin: 10px;
    transition: all 0.5s;
    div.care{
        background-color: $secondary-color;
        color: $primary-background;
        padding: 10px;
        margin-top: 50%;
    }
    &:hover{
        opacity: 0.9;
        border: solid 4px;
    }
}

.profile-sm{
    width: 70px;
}

.profile-lg{
    width: 150px;
}

.caregiver{
    background-image: url('/static/img/caregiver01.jpg');
    background-size: cover;
}

.careseeker{
    background-image: url('/static/img/caregiver.jpg');
    background-size: cover;
}