<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {% if post.author.pic != None %}
                <img class='profile-sm' src="{{ post.author.pic }}" />
                {% else %}
                <img class='profile-sm' id="preview" src="{{ url_for('static', filename='img/default-image.jpg') }}" />
                {% endif %}
            </a>
        </td>
        <td>
            {% set user_link %}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            {% endset %}
            {{ user_link }} said:
            <br>
            <span id="post{{ post.id }}">{{ post.body }}</span>
        </td>
    </tr>
</table>