{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1>Edit Profile</h1>
    <div class="row">
        <div class="col-md-4">
            {% if photo %}
            <img class="profile-sm" id="preview" src="{{ photo }}" />
            {$ else %}
            <img class='profile-sm' id="preview" src="{{ url_for('static', filename='img/default-image.jpg') }}">
            {% endif %}
            Upload Photo: <input type=file id="photo" name=photo>
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}