{% extends "layout.html" %} 
{% import 'bootstrap/wtf.html' as wtf %} 
{% block app_content %}
<h1>Welcome to CareKeepr</h1>
<div class="container">
    <div class="col-lg-6">
        <a href="/list">
            <div class="box careseeker">
                <div class='care'>I'm seeking care</div>
            </div>
        </a>
    </div>
    <div class="col-lg-6">
        <a href="/auth/login">
            <div class="box caregiver">
                <div class='care'>I'm a care giver</div>
            </div>
        </a>
    </div>
</div>
{% endblock %}